
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="main-banner">

    <div class="container" >

        <h1 style=" color:whitesmoke;">Access Denied</h1>
        <h2 style=" color:whitesmoke;"> Try To <a asp-action="Login" asp-controller="Acounts" class="btn btn-default">Re-login</a>Relogin With Anther account</h2>
        <h3 style=" color:whitesmoke;"><a asp-action="Index" asp-controller="Home" class="btn btn-default">Return to Home Page</a></h3>
</div>
</div>